/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  @layer components{}
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#header{
  height: 50px;
  background-color: #F8F8F8;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #595959b4;
  color: #334FBD
}

#main-content{
  height: 100%;
  display: flex;
}

#navbar{
  width: 250px;
  height: 100%;
  background-color: #F8F8F8;
  border-right: 1px solid #595959b4;
  padding: 2rem 0;
}
.route-header{
  font-weight: 500;
  font-size: 2rem;
}

#navbar a{
  text-decoration: none;
  color: black;
  width: 250px;
  opacity: 1;
}

#navbar ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

#navbar ul{
  width: 90%;
}

#navbar li{
  height: 40px;
  font-weight: 500;
  
}

.navlist-bg{
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

#route-container{
  padding: 1rem;
}