/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  @layer components{}
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#header{
  height: 50px;
  background-color: wheat;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#main-content{
  height: 100%;
  display: flex;
}

#navbar{
  width: 250px;
  height: 100%;
  background-color: azure;
}
.route-header{
  font-weight: 500;
  font-size: 2rem;
}
