#filter-btns{
    width: 70%;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.filter-btn{
    width: 180px;
    height: 30px;
    border-radius: 20px;
    border: 1px white;
    background-color: white;
}

#appointments-list{
    padding: 1rem 0;
    height: 500px;
    width: 100%;
}

#today-appointment-status-bar{
    width: 60%;
    height: 30px;
    display: flex;
    background-color: white;
}

.appointment-status-btn{
    flex: 1;
    height: 100%;
    border: none;
    background-color: white;
}

.appointment-div{
    height: 100%;
    width: 90%;
    padding: 1rem 0;
}

.appointments-table-container{
    height: 100%;
    overflow-y: auto;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 16px;
}
.appointments-table{
    width: 100%;
    background-color: white;
    margin: 0;
}

#appointment-details input, #appointment-details select{
    display: block;
    height: 30px;
    width: 250px;
}

#appointment-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1/2;
    background-color: white;
    margin-right: 1rem;
    padding: 1.5rem;
}

#add-appointment-div > div{
    max-width: 1500px;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 80%;
}

#appointment-patient, #appointment-details{
    border-radius: 10px;
}


#appointment-details label{
    width: 80%;
    height: 50px;
}

#appointment-details input{
    width: 80%;
    height: 35px;
    margin: 0.8rem 0;
}

.div-header{
    font-size: 1.5rem;
    font-weight: 500;
}

#appointment-patient{
    grid-column: 2/3;
    width: 80%;
    background-color: white;
    padding: 1.5rem;
    height: 350px;
}

#appointment-patient input, #appointment-patient button{
    width: 100%;
    height: 35px;
}

#appointment-patient > div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a{
    text-decoration: none;
    color: black
}
