.stats-container {
background: #ffffff;
padding: 30px;
border-radius: 20px;
width: 100%;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
margin: 2rem 0;
}


.title {
font-size: 24px;
font-weight: 600;
margin-bottom: 20px;
}


.cards-row {
display: flex;
gap: 20px;
margin-bottom: 25px;
}


.stat-card {
background: #f6f6f6;
padding: 20px;
border-radius: 18px;
width: 180px;
/* text-align: center; */
box-shadow: 0 2px 8px rgba(0,0,0,0.05);

}


.icon {
font-size: 26px;
padding: 10px;
border-radius: 10px;
display: inline-block;
margin-bottom: 10px;
}


.blue { background: #e1eaff; }
.green { background: #d7f8d7; }
.orange { background: #ffe4cc; }


.value {
font-size: 32px;
font-weight: bold;
}


.label {
font-size: 14px;
color: #666;
}


.subtitle {
font-size: 18px;
margin: 20px 0 10px;
font-weight: 500;
}


.chart-wrapper {
display: flex;
align-items: flex-end;
gap: 12px;
height: 40vh;
padding: 10px 0;

}