.stats-container {
background: #ffffff;
padding: 30px;
border-radius: 20px;
width: 100%;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
margin: 2rem 0;
min-height: 300px;
}


.title {
font-size: 24px;
font-weight: 600;
margin-bottom: 20px;
}


.cards-row {
display: flex;
gap: 20px;
margin-bottom: 25px;
height: 100%;
}


.stat-card {
background: #f6f6f6;
padding: 20px;
border-radius: 18px;
width: 250px;
/* text-align: center; */
box-shadow: 0 2px 8px rgba(0,0,0,0.05);

}


.icon {
font-size: 26px;
padding: 10px;
border-radius: 10px;
display: inline-block;
margin-bottom: 10px;
/* color: #1d1d1d */
color: white;
}


.blue { background: #0063f8b5; }
.green { background: #77c841e1; }
.orange { background: #f97800dc; }
.purple { background: #b700f981; }


.value {
font-size: 32px;
font-weight: bold;
}


.label {
font-size: 14px;
color: #666;
}


.subtitle {
font-size: 18px;
margin: 20px 0 10px;
font-weight: 500;
}


.chart-wrapper {
display: flex;
align-items: flex-end;
gap: 12px;
height: 40vh;
padding: 10px 0;

}

.inventory-chart-container {
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

@media (max-width: 800px){
  .cards-row{
    flex-direction: column;
  }

  .stat-card{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .value{
    margin-left: 0.5rem;
  }

  .label{
    margin-left: 0.2rem;
  }
}