/* Full screen background with gradient */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background: #C47BE4;
background: linear-gradient(68deg,rgba(196, 123, 228, 1) 0%, rgba(39, 60, 179, 0.9) 43%, rgba(255, 255, 255, 1) 88%);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Bricolage Grotesque', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login-form h2{
  text-align: center;
  font-size: 2.5rem;
  color: #252525
}

.login-form{
  width: 400px;
  background-color: rgba(255, 255, 255, 0.947);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1.5rem;;
  border-radius: 10px;
  transition: transform 0.3s ease; /* smooth animation */
}


.login-form:hover {
  transform: translateY(-2%);
}


.login-form input{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.3rem;
}

.login-form input:focus{
  border-color: #4f73ff;
   box-shadow: 0 0 6px rgba(79, 115, 255, 0.3);
  outline: none;
}

.login-form button{
  width: 100%;
  height: 40px;
  margin: 2rem 0;
  font-family: 'Bricolage Grotesque';
  background-color: #253ecbd2;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;


}

@media (max-width: 500px){
  .login-form{
    width: 100%;
    margin: 0 1rem;
    padding: 1rem;
    height: 400px;
  }
}