#patients-table-container{
    width: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
}

#patient-overview-div{
    display: flex;
    height: 260px;
    gap: 1rem;
    padding-top: 3rem;
    color: #1E1E1E;
}

#photo-name-div{
    width: 20%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

#photo-name-div > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
    background-color: gray;
}

#patient-information{
    color: #1E1E1E;
    width: 80%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    font-size: 15px;
}

#patient-information  #student-info{
    grid-column: 1/2;
}

#patient-information #medical-info{
    grid-column: 2/3;
}

#patient-information #emergency-contact{
    grid-column: 3/4;
}
#patient-information > div{
    padding: 1rem
}

#patient-overview-div > div{
    border-radius: 10px;
}

#patient-visit-div{
    margin: 1.8rem 0;
    background-color: white;
    height: 500px;
    border-radius: 10px;
}

#patient-visit-table{
    width: 100%;
}



/* -------------------------------ADD NEW PATIENT DIV--------------------------- */


#add-new-patient-div{
    width: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index:4;
}

#add-patient-gray-bg{
    height: 100%;
    width: 100%;
    background-color: #1e1e1e3c;
    position: absolute;
    z-index: 2;
    
}

#add-patient-form{
    height: 80%;
    width: 900px;
    background-color: white;
    z-index: 4;
    overflow-y: auto;
    padding: 2rem;
}

#add-patient-form > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#student-information{
    min-height: 250px;
    display: flex;
    
    flex-direction: column;
    gap: 1.8rem;
}

#medical-information{
    min-height: 150px;
}

#emergency-contact-information{
    min-height: 200px;
}

#add-patient-form input[type='text'], 
#add-patient-form input[type='date'], 
#add-patient-form input[type='number'],
#add-patient-form select {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 0.5rem;
    padding: 0.5rem
}

#add-patient-form select{
    display: block;
}

#student-information > div, #emergency-contact-information > div{
    display: flex;
    gap: 1rem
}

#medical-information > div{
    display: flex;
    gap: 3rem
}

#gender-div{
    display: block;
}

.form-header{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* ------------------VISIT LOG--------------- */

#add-record-div{
    position: fixed;
    inset: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#add-record-form{
    padding: 2rem;
    height: 700px;
    width: 700px;
    z-index: 4;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

#add-record-form > div{
    display: flex;
    gap: 1.5rem;
}

#add-record-form label{
    font-size: 1rem;
}

#add-record-form input, #add-record-form textarea{
    display: block;
}


/* .button-div{
    position: absolute;
    bottom: 2rem;
    right: 2rem
} */

