#patient-searchbar, #appointments-searchbar, #inventory-searchbar, #staff-searchbar{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 0.9rem;
    margin: 30px 0
}

#add-patient-btn, #add-appointment-btn{
    height: 40px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #828DFF;
    background-color: white;
    margin-bottom: 1rem;
    
}

#add-patient-btn:hover, #add-appointment-btn:hover{
    background-color:#828DFF;
    color: white;
    transition: ease-in-out 0.15s;
} 
/* ----------------------------PATIENTS---------------------- */
/* #add-patient-div {
    position: fixed;
    inset: 0;               
    display: flex;
    justify-content: center; 
    align-items: center;   
    padding: 1rem;  
}

.gray-bg {
    position: absolute;
    inset: 0;
    z-index: 3;
    background: black;
    opacity: 0.2;
}

#create-record-div {
    width: 550px;
    height: 700px;
    position: relative;
    z-index: 2;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

#student-record-create-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.info{
    margin-left: 1.5rem;
} */